services:
  nginx:
    image: nginx:latest
    ports:
      - "3001:3001"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf # Mount custom Nginx config
      - ./ui/public:/usr/share/nginx/public # Mount static content
#    restart: always
